<div class="space-y-1 bg-white shadow-xl py-3 px-5 pr-3 rounded-2xl">
    <div class="my-5">
        <h1 class="popping text-xl font-bold">Nouveau bien</h1>
    </div>

    <div aria-label="Progress">
        <ol role="list" class="overflow-hidden">
            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-2 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Complete Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-blue-2 rounded-full ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-white text-base popping font-bold">1</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class=" text-base  font-semibold tracking-wide uppercase text-blue-2 popping truncate">INFORMATIONS</span>
                    </span>
                </a>
            </li>

            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Current Step -->
                <a href="#" class="relative flex items-center group" aria-current="step">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">2</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base font-semibold tracking-wide uppercase text-gray-400 popping truncate">DETAILS</span>
                    </span>
                </a>
            </li>

            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Upcoming Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">3</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base font-semibold tracking-wide uppercase text-gray-400 popping truncate">Prix</span>
                    </span>
                </a>
            </li>

            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Upcoming Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">4</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base font-semibold tracking-wide uppercase text-gray-400 popping truncate">DESCRIPTION</span>
                    </span>
                </a>
            </li>
            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Upcoming Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">5</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base font-semibold tracking-wide uppercase text-gray-400 popping truncate">PHOTO
                            / VIDEO</span>
                    </span>
                </a>
            </li>
            <li class="relative pb-10">
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full border-dashed	  border-l-2 border-gray-400	"
                    aria-hidden="true"></div>
                <!-- Upcoming Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">6</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base font-semibold tracking-wide uppercase text-gray-400 popping truncate">DISPONIBILITé
                            DE LA
                            VISITE</span>
                    </span>
                </a>
            </li>
            <li class="relative pb-10">
                <!-- Upcoming Step -->
                <a href="#" class="relative flex items-center group">
                    <span class="h-9 flex items-center">
                        <span
                            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                            <!-- Heroicon name: solid/check -->
                            <span class="text-gray-400 text-base popping font-bold">7</span>
                        </span>
                    </span>
                    <span class="ml-4 min-w-0 flex flex-col">
                        <span
                            class="text-base  tracking-wide uppercase text-gray-400 popping font-semibold truncate">PUBLICATION</span>
                    </span>
                </a>
            </li>



        </ol>
    </div>
</div>