<nav class="fixed bottom-0 left-0 right-0 w-full z-50  bg-white   rounded-md shadow-lg block md:hidden"
    [@slideInOut]="navbarState" aria-label="Navbar">
    <div class="flex flex-row justify-around">
        <!-- Current: " z-10 bg-indigo-50 border-indigo-500 text-indigo-600",
        Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
        <a [routerLink]="['/dashboard/bailleur/applications']"
            [routerLinkActive]="['border-t-4', 'border-blue-400','text-indigo-600']"
            class="bg-white border-gray-300 w-full justify-center relative inline-flex items-center px-4 py-4  text-sm font-medium">
            <svg [routerLinkActive]="['text-blue-700']" class="text-gray-400  active:text-indigo-600  h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
        </a>
        <a
            class="bg-white border-gray-300 w-full text-gray-500 hover:bg-gray-50 relative inline-flex justify-center items-center px-4 py-4  text-sm font-medium">
            <svg class="text-gray-400 flex-shrink-0 active:text-indigo-600 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
        </a>
        <a [routerLink]="['/dashboard/bailleur/mygoods']"
            [routerLinkActive]="['border-t-4', 'border-blue-400','text-indigo-600']"
            class="bg-white border-gray-300 w-full justify-center relative inline-flex items-center px-4 py-4  text-sm font-medium">
            <svg class="text-gray-400 flex-shrink-0 active:text-indigo-600 h-6 w-6"
                [routerLinkActive]="['text-blue-700']" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
            </svg>
        </a>

        <a
            class="bg-white border-gray-300 w-full text-gray-500 hover:bg-gray-50  justify-center md:inline-flex relative items-center px-4 py-4  text-sm font-medium">
            <svg class="text-gray-400 flex-shrink-0 active:text-indigo-600 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
        </a>

        <a
            class="bg-white border-gray-300 w-full text-center text-gray-500 hover:bg-gray-50 justify-center relative inline-flex items-center px-4 py-4  text-sm font-medium">
            <svg class="text-gray-3 flex-shrink-0 active:text-indigo-600 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
        </a>
    </div>
</nav>