<div class="hidden md:block bg-white max-w-7xl py-3 mx-auto  sm:px-6 lg:px-8  ">
    <div class="py-5 border-b-2">
        <h1 class="popping text-2xl font-bold">Candidatures reçues</h1>
    </div>
    <div class=" grid grid-cols-12 gap-4 mt-4 h-screen">
        <div class="col-span-5 lg:col-span-3 overflow-y-scroll h-full scroll pr-2">
            <application-card></application-card>
            <application-card></application-card>
            <application-card></application-card>
            <application-card></application-card>

        </div>
        <div class=" col-span-7 lg:col-span-9 overflow-scroll h-full  scroll">
            <div class="">
                <h2 class="popping text-lg font-semibold">Belle maison F5</h2>
                <button class="flex flex-row items-center my-2  justify-center bg-green-1 py-3 px-3">
                    <img src="../../../../../../assets/images/condidat-icon.png" class="mr-3" alt="">
                    <span class="text-xs text-green-1 font-semibold"> 20 condidats</span>
                </button>
                <div class="">
                    <application-details></application-details>
                    <application-details></application-details>
                    <application-details></application-details>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block md:hidden  ">
    <div class="py-5">
        <h1 class="popping text-2xl font-bold">Candidatures reçues</h1>
    </div>

    <div class="h-screen rounded-lg">
        <application-details-responsive></application-details-responsive>
        <application-details-responsive></application-details-responsive>
        <application-details-responsive></application-details-responsive>
        <application-details-responsive></application-details-responsive>
    </div>
</div>