//Variables

//Colors
$red: #EF4B46;
$blue: #F3F9FD;
$blue_button: #8bc2ff;
$yellow: rgba(239, 181, 67, 1);
$bordure_champ:#DCE9F1;
$dark_blue:#44576B;
$hover-btn: #f4f4f4;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
$blue_light:#F3F9FD;
$light_red:#F07777;

$blue_2:#6FB4E1;
$blue_3:#2e94fa; 
$blue_4:#194CA7;
$yellow_light:#FACD5D;
$purple:#BF74DF;
$yellow_light1:#FDF4E0;
$red_light:#EA8E8E;
$gray_1:#F5F5F5;
$gray_2:#808080;
$gray_3:#99A4AE;
$gray_4:#F7F8FA;



