.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $blue_button;
  color: $blue_button;
  box-shadow: 9999px 0 0 -5px $blue_button;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $blue_button;
  color: $blue_button;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $blue_button;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $blue_button;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $blue_button;
  }
  30% {
    box-shadow: 9984px 0 0 2px $blue_button;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $blue_button;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $blue_button;
  }
  30% {
    box-shadow: 9999px 0 0 2px $blue_button;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $blue_button;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $blue_button;
  }
  30% {
    box-shadow: 10014px 0 0 2px $blue_button;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $blue_button;
  }
}
.pulse{
    transform: scale(1);
   animation: pulse 2s infinite; 
}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}