.font-1{
    font-size: 1rem;
}
.bg-blue{
     @include bgColor($blue_button);
}

.circle {
    background-color:#fff;
   
    height:100%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    border-width: 2px;
    border-style: solid;
}
.circle-success{
       border-color:  green;
}

.bg-blue_dark{
    @include bgColor($dark_blue)
}
.bg-blue-light{
    @include bgColor($blue_light);
}

.bg_blue_button{
    @include bgColor($blue_button);
}
.popping{
    @include popping();
}
.border-blue{
    border: 1px solid $blue;
}
.inter{
    font-family: 'Inter', sans-serif;
}
.text--blue{
    color:$blue_button
}
.text--blue-dark{
    color:$blue_4
}
.placeholder-200{
    &::placeholder{
        //font-weight: 400;
        color: rgba(156, 163, 175, var(--tw-text-opacity));
    }
}
.placeholder-size-1{
    &::placeholder{
        font-size: .8rem;
    }
}
.placeholder-size-2{
    &::placeholder{
        font-size: 1rem;
    }
}
.bg-blue1{
    background-color: $bordure_champ;
}
.bg-red-light{
   @include bgColor($red_light) 
}
.leading-20{
    line-height: 3.5rem !important;
}
.-z-10{
    z-index: -10;
}
.gray{
    color: #44576B;
}
.light-red{
 color: #F07777;
}

.bg-blue-2{
    @include bgColor($blue_2);
}

.text-blue-2{
    color: $blue_2;
}

.dotted-color{
  background-color: #7EC69D;

}

.linear-blue {
    background-color: #1C3982;
}

.light-yellow{
    color: $yellow_light;
}
.bg-light-yellow1{
    @include bgColor($yellow_light1)
}
.bg-light-gray{
    @include bgColor($gray_1);
}
.border-bottom-blue::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid $blue; /* This creates the border. Replace black with whatever color you want. */
}
.border-bottom-red::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
        border-bottom: 5px solid $light_red; /* This creates the border. Replace black with whatever color you want. */
}
.text-purple{
    color: $purple;
}
.max-width-80{
    max-width: 80%;
}
.height-100{
    height: 100px !important;
    width: 100px !important;
}
.text-gray-3{
    color: $gray_3;
}
.bg-gray-4{
    @include bgColor($gray_4)
}

.text-black{
    color:#302929;
}

.btn_blue_3{
    background-color: $blue_3;
}
.linear-gradient{
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(191, 116, 223, 0.25)), to(rgba(223, 125, 125, 0)));
   background: -o-linear-gradient(top, rgba(191, 116, 223, 0.25) 0%, rgba(223, 125, 125, 0) 100%);
   background: linear-gradient(180deg, rgba(191, 116, 223, 0.25) 0%, rgba(223, 125, 125, 0) 100%); /* W3C */
}
