.font-1{
    font-size: 1rem;
}
.bg-blue{
     @include bgColor($blue_button);
}


.bg-blue_dark{
    @include bgColor($dark_blue)
}
.bg-blue-light{
    @include bgColor($blue_light);
}

.bg_blue_button{
    @include bgColor($blue_button);
}
.popping{
    @include popping();
}
.border-blue{
    border: 1px solid $blue;
}
.inter{
    font-family: 'Inter', sans-serif;
}
.text--blue{
    color:$blue_button
}
.placeholder-200{
    &::placeholder{
        //font-weight: 400;
        color: rgba(156, 163, 175, var(--tw-text-opacity));
    }
}
.bg-blue1{
    background-color: $bordure_champ;
}
.leading-20{
    line-height: 3.5rem !important;
}
.-z-10{
    z-index: -10;
}
.gray{
    color: #44576B;
}
.light-red{
 color: #F07777;
}

.bg-blue-2{
    @include bgColor($blue_2);
}

.text-blue-2{
    color: $blue_2;
}

.dotted-color{
  background-color: #7EC69D;
}

.light-yellow{
    color: $yellow_light;
}
.bg-light-yellow1{
    @include bgColor($yellow_light1)
}
.border-bottom-blue::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid $blue; /* This creates the border. Replace black with whatever color you want. */
}
.border-bottom-red::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 7px; /* This creates some space between the element and the border. */
        border-bottom: 5px solid $light_red; /* This creates the border. Replace black with whatever color you want. */
}
.text-purple{
    color: $purple;
}
.max-width-80{
    max-width: 80%;
}
.height-100{
    height: 100px !important;
}