<div class=" bg-white shadow-xl pt-3 pb-10 px-3 md:px-6 pr-3 rounded-2xl ">
    <div class="py-3 border-b-2">
        <h1 class="popping text-xl font-bold ">Détails</h1>
    </div>
    <form [formGroup]="detailsForm" (ngSubmit)="formSubmit()">

        <div class="px-3 mt-5">



            <div class="px-3 mt-5">
                <div class="flex flex-col md:flex-row  justify-between mt-2">
                    <div class="w-full">
                        <h1 class="popping text-base font-semibold mb-3">Nombre de pièces </h1>
                        <div class="relative">
                            <input type="number" name="numberOfPieces" id="numberOfPieces"
                                formControlName="numberOfPieces"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">
                            <span class="absolute top-2 text-lg	 right-2 text-gray-500">pcs</span>
                        </div>
                    </div>

                    <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                        <h1 class="popping text-base font-semibold mb-3">Nombre chambre à coucher </h1>
                        <div class="relative">
                            <input type="number" name="numberOfRooms" id="numberOfRooms" formControlName="numberOfRooms"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-3 mt-5">



            <div class="px-3 mt-5">
                <div class="flex flex-col md:flex-row  justify-between mt-2">
                    <div class="w-full">
                        <h1 class="popping text-base font-semibold mb-3">Nombre de WC </h1>
                        <div class="relative">
                            <input type="number" name="numberOfWC" id="numberOfWC" formControlName="numberOfWC"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">
                        </div>
                    </div>

                    <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                        <h1 class="popping text-base font-semibold mb-3">Nombre de salles de bains</h1>
                        <div class="relative">
                            <input type="number" name="numberOfBathRooms" id="numberOfBathRooms"
                                formControlName="numberOfBathRooms"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="px-3 mt-5">

            <div class="px-3 mt-5">
                <div class="flex flex-col md:flex-row  justify-between mt-2">
                    <div class="w-full">
                        <h1 class="popping text-base font-semibold mb-3">Nombre d’étages dans l’immeuble </h1>
                        <div class="relative">
                            <input type="number" name="numberOfFloors" id="numberOfFloors"
                                formControlName="numberOfFloors"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">

                        </div>
                    </div>

                    <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                        <h1 class="popping text-base font-semibold mb-3">Etage de l’appartement </h1>
                        <div class="relative">
                            <input type="number" name="FloorOfTheApartment" id="FloorOfTheApartment"
                                formControlName="FloorOfTheApartment"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="0" aria-describedby="email-description">
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <div class="px-3 mt-5">

            <div class="px-3 mt-5">
                <div class="flex flex-col md:flex-row  justify-between mt-2">
                    <div class="w-full">
                        <h1 class="popping text-base font-semibold mb-3">Année de construction </h1>
                        <div class="relative">
                            <input type="number" name="yearOfBuilding" id="yearOfBuilding"
                                formControlName="yearOfBuilding"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="1990" aria-describedby="construction">

                        </div>
                    </div>

                    <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                        <h1 class="popping text-base font-semibold mb-3">Année de rénovation </h1>
                        <div class="relative">
                            <input type="number" name="yearOfRenovation" id="yearOfRenovation"
                                formControlName="yearOfRenovation"
                                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                                placeholder="2015" aria-describedby="email-description">
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="px-3 mt-5">

        </div>

        <div class="px-3 mt-5">
            <div class="flex flex-col md:flex-row  justify-between mt-2">
                <div class="w-full">
                    <h1 class="popping text-base font-semibold mb-3">Vue</h1>

                    <div class="relative">
                        <button type="button" (click)="selectViewDropDown = !selectViewDropDown"
                            class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                            id="menu-button" aria-expanded="true" aria-haspopup="true">
                            <span class=" text-lg">{{selectedViewValue}}</span>
                            <svg width="14" height="9" viewBox="0 0 14 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                            </svg>
                        </button>
                        <ul [@selectInput]="selectViewDropDown ? false : true"
                            class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                            tabindex="-1" role="listbox" aria-labelledby="listbox-label"
                            aria-activedescendant="listbox-option-0">
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementViewDropDown('Magnifique')">
                                <p class="font-medium">
                                    Magnifique
                                </p>
                            </li>
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementViewDropDown('Formidable')">
                                <p class="font-medium">
                                    Formidable
                                </p>
                            </li>
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementViewDropDown('Soleil')">
                                <p class="font-medium">
                                    Soleil
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                    <h1 class="popping text-base font-semibold mb-3">Orientation</h1>
                    <div class="relative">
                        <button type="button" (click)="selectOrientationDropDown = !selectOrientationDropDown"
                            class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                            id="menu-button" aria-expanded="true" aria-haspopup="true">
                            <span class=" text-lg">{{selectedOrientationValue}}</span>
                            <svg width="14" height="9" viewBox="0 0 14 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                            </svg>
                        </button>
                        <ul [@selectInput]="selectOrientationDropDown ? false : true"
                            class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                            tabindex="-1" role="listbox" aria-labelledby="listbox-label"
                            aria-activedescendant="listbox-option-0">
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementOrientationDropDown('Sud')">
                                <p class="font-medium">
                                    Sud
                                </p>
                            </li>
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementOrientationDropDown('Ouest')">
                                <p class="font-medium">
                                    Ouest
                                </p>
                            </li>
                            <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                id="listbox-option-0" role="option" (click)="managementOrientationDropDown('Nord')">
                                <p class="font-medium">
                                    Nord
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>

        <div class="px-3 mt-5">
            <div class="px-3 mt-5">
                <div class="flex flex-col md:flex-row  justify-between mt-2">
                    <div class="w-full">
                        <h1 class="popping text-base font-semibold mb-3">Type de chauffage </h1>

                        <div class="relative">
                            <button type="button"
                                (click)="selectHeatingTypeSystemDropDown = !selectHeatingTypeSystemDropDown"
                                class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                <span class=" text-lg">{{selectedHeatingTypeSystemValue}}</span>
                                <svg width="14" height="9" viewBox="0 0 14 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                                </svg>
                            </button>
                            <ul [@selectInput]="selectHeatingTypeSystemDropDown ? false : true"
                                class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                                tabindex="-1" role="listbox" aria-labelledby="listbox-label"
                                aria-activedescendant="listbox-option-0">
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementHeatingTypeSystemDropDown('Bois')">
                                    <p class="font-medium">
                                        Bois
                                    </p>
                                </li>
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementHeatingTypeSystemDropDown('Electrique')">
                                    <p class="font-medium">
                                        Electrique
                                    </p>
                                </li>
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementHeatingTypeSystemDropDown('Gaz')">
                                    <p class="font-medium">
                                        Gaz
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                        <h1 class="popping text-base font-semibold mb-3">Environnement</h1>
                        <div class="relative">
                            <button type="button" (click)="selectEnvironmentDropDown = !selectEnvironmentDropDown"
                                class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                <span class=" text-lg">{{selectedEnvironmentValue}}</span>
                                <svg width="14" height="9" viewBox="0 0 14 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                                </svg>
                            </button>
                            <ul [@selectInput]="selectEnvironmentDropDown ? false : true"
                                class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                                tabindex="-1" role="listbox" aria-labelledby="listbox-label"
                                aria-activedescendant="listbox-option-0">
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementEnvironmentDropDown('Ville')">
                                    <p class="font-medium">
                                        Ville
                                    </p>
                                </li>
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementEnvironmentDropDown('Campagne')">
                                    <p class="font-medium">
                                        Campagne
                                    </p>
                                </li>
                                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                                    id="listbox-option-0" role="option"
                                    (click)="managementEnvironmentDropDown('Village')">
                                    <p class="font-medium">
                                        Village
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 px-3">
                <h1 class="popping text-base font-semibold">Proximité</h1>
                <div class="flex flex-row flex-wrap ">
                    <fieldset class="space-y-5 mr-3" *ngFor="let prox of proximites">
                        <legend class="sr-only">{{prox}}</legend>
                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    (change)="typeDeProximiteValue(prox,$event)" type="checkbox"
                                    class=" h-3 w-4  active:border-4 border-blue-300 rounded-2xl">
                            </div>
                            <div class="ml-3 ">
                                <label for="comments"
                                    class="popping text-base font-medium	 text-gray-500">{{prox}}</label>
                            </div>
                        </div>


                    </fieldset>


                </div>
                <!--
                <div class="flex flex-row flex-wrap md:flex-nowrap">
                    <fieldset class="space-y-5 w-full">
                        <legend class="sr-only">Ecole secondaire</legend>
                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                                <input id="terrain" aria-describedby="comments-description" name="comments"
                                    type="checkbox" class=" h-4 w-4  active:border-4 border-blue-300 rounded-2xl">
                            </div>
                            <div class="ml-3 ">
                                <label for="terrain" class="popping text-base font-medium	 text-gray-500">Ecole
                                    secondaire</label>
                            </div>
                        </div>


                    </fieldset>
                    <fieldset class="space-y-5 w-full">
                        <legend class="sr-only">Commerces</legend>
                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                                <input id="immeuble" aria-describedby="comments-description" name="comments"
                                    type="checkbox" class=" h-4 w-4  active:border-4 border-blue-300 rounded-2xl">
                            </div>
                            <div class="ml-3 ">
                                <label for="immeuble" class="popping text-base font-medium	 text-gray-500">Commerces
                                </label>
                            </div>
                        </div>


                    </fieldset>
                    <fieldset class="space-y-5 w-full">
                        <legend class="sr-only">Trans. public</legend>
                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                                <input id="logtVacances" aria-describedby="comments-description" name="comments"
                                    type="checkbox" class=" h-4 w-4  active:border-4 border-blue-300 rounded-2xl">
                            </div>
                            <div class="ml-3 ">
                                <label for="logtVacances" class="popping text-base font-medium	 text-gray-500">Trans.
                                    public</label>
                            </div>
                        </div>


                    </fieldset>

                    <fieldset class="space-y-5 w-full">

                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                            </div>
                        </div>
                    </fieldset>


                </div>-->

            </div>

            <div class="mt-14 px-3 ">
                <h1 class="popping text-base font-semibold">Extra</h1>
                <div class="flex flex-row flex-wrap">
                    <fieldset class="space-y-5  mr-3" *ngFor="let extra of extras">
                        <legend class="sr-only">{{extra}}</legend>
                        <div class="relative flex items-start">
                            <div class="flex items-end h-5">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    (change)="typeExtraValue(extra,$event)" type="checkbox"
                                    class=" h-3 w-4  active:border-4 border-blue-300 rounded-2xl">
                            </div>
                            <div class="ml-3 ">
                                <label for="comments"
                                    class="popping text-base font-medium	 text-gray-500">{{extra}}</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="px-3 mt-5 flex flex-col md:flex-row justify-between">
            <button
                class="text-blue-2 px-6 py-2 rounded-md shadow font-700  text-base bg-white   btnhover font-semibold flex flex-row items-center justify-center">
                <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.825 6.46933L7.071 9.62524L5.657 11L4.72849e-07 5.5L5.657 -1.36883e-07L7.071 1.37476L3.832 4.52484L15 4.52484L15 6.46933L3.825 6.46933Z"
                        fill="#6FB4E1" />
                </svg>
                <span class="ml-2">Précédent</span>
            </button>
            <button type="submit"
                class="text-white px-6 py-2 rounded-md mt-5 md:mt-0 font-700 text-base bg-blue-2 btnhover font-semibold flex flex-row items-center justify-center">Suivant</button>
        </div>
    </form>
</div>