//Button
.btn {
    border-color: transparent;
    border-radius: 7px;
    &:disabled, 
    &.disabled {  
      pointer-events: none;
    }
  }

.btnhover{
  &:hover{
    background-color: $hover-btn;
    box-shadow: 0 4px 12px #00000014;
    transform: scale(1.03);
  }
}





  //Alternate Button
 