<div class="bg-white my-3 py-3 px-3 rounded-lg mt-5">
    <div class="space-y-4">
        <div class="aspect-w-4 aspect-h-2 relative">
            <img class="object-cover shadow-lg rounded-lg" src="../../../../assets/images/bien1.png" alt="">
        </div>
        <div class="px-3">
            <div class=" leading-6 popping  space-y-2">
                <h3 class="text-base font-bold">Magnifique maison type F5</h3>
                <h3 class="text-base font-semibold">34.000 CHF / mois</h3>
                <h3 class="text-base text-orange-1 font-semibold">4 postulations</h3>
            </div>

        </div>
        <div class="">
            <accordion></accordion>
            <accordion></accordion>
            <accordion></accordion>
        </div>
    </div>
</div>