<div class="bg-gray-4  rounded-2xl pb-10">
    <div class="space-y-4">
        <div class="aspect-w-4 aspect-h-2 relative">
            <img class="object-cover shadow-lg rounded-lg" src="../../../../assets/images/bien1.png" alt="">
        </div>
        <div class="px-3">
            <div class=" leading-6 popping font-semibold space-y-2">
                <h3 class="text-base">Belle maison</h3>
                <h3 class="text-base">CHF 3400 .- / mois</h3>
                <button class="flex flex-row items-center w-full justify-center bg-green-1 py-3 px-3">
                    <img src="../../../../../../assets/images/condidat-icon.png" class="mr-3" alt="">
                    <span class="text-xs text-green-1 font-semibold"> 20 condidats</span>
                </button>
            </div>
        </div>
    </div>
</div>