<nav aria-label="Progress">
    <ol role="list" class="flex items-center ">
        <li class="relative pr-4">
            <div class=" absolute h-0.5 w-12		 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group">
                <span class="h-9 flex items-center">
                    <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-blue-2 rounded-full ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-white text-base popping font-bold">1</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">2</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Current Step -->
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">3</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Upcoming Step -->
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">4</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">5</span>
                    </span>
                </span>

            </a>
        </li>
        <li class="relative pr-4">
            <!-- Completed Step -->

            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">6</span>
                    </span>
                </span>

            </a>
        </li>
        <li class="relative pr-4">
            <!-- Completed Step -->
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">7</span>
                    </span>
                </span>

            </a>
        </li>
    </ol>
</nav>