<nav aria-label="Progress">
    <ol role="list" class="flex items-center ">
        <li class="relative pr-4">
            <div class=" absolute h-0.5 w-12		 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group">
                <span class="h-9 flex items-center">
                    <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
                        <!-- Heroicon name: solid/check -->
                        <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd" />
                        </svg>

                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-blue-2 rounded-full ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-white text-base popping font-bold">2</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Current Step -->
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">3</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Upcoming Step -->
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">4</span>
                    </span>
                </span>

            </a>
        </li>

        <li class="relative pr-4">
            <!-- Completed Step -->
            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">5</span>
                    </span>
                </span>

            </a>
        </li>
        <li class="relative pr-4">
            <!-- Completed Step -->

            <div class=" absolute h-0.5 w-12 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
                aria-hidden="true">
            </div>
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">6</span>
                    </span>
                </span>

            </a>
        </li>
        <li class="relative pr-4">
            <!-- Completed Step -->
            <a href="#" class="relative flex items-center group" aria-current="step">
                <span class="h-9 flex items-center">
                    <span
                        class="relative z-10 w-8 h-8 flex items-center justify-center bg-white rounded-full border-2 border-gray-400 ">
                        <!-- Heroicon name: solid/check -->
                        <span class="text-gray-400 text-base popping font-bold">7</span>
                    </span>
                </span>

            </a>
        </li>
    </ol>
</nav>