<div class=" bg-white shadow-xl pt-3 pb-10 px-3 md:px-6 pr-3 rounded-2xl ">
    <div class="py-5 border-b-2">
        <h1 class="popping text-xl font-bold ">Informations</h1>
    </div>
    <div class="py-5 px-3 bg-gray-4">
        <h1 class="popping text-xl font-semibold ">Général</h1>
    </div>
    <div class="flex flex-col mt-3 px-3">
        <h2 class="popping text-base font-semibold">Voulez-vous</h2>
        <div class="flex flex-row mt-3">
            <button type="button "
                [ngClass]=" venteOuLocation == 'Vente' ? 'text-blue-400 border-blue-300' : 'border-gray-300 text-gray-200 bg-white'"
                (click)="venteOuLocation = 'Vente'"
                class="flex justify-center w-28	 mr-2	 items-center px-4 py-2 border 	 shadow-sm text-base font-semibold popping rounded-xl 	 bg-white hover:bg-gray-50 active:-translate-y-2 transition-all duration-100">
                Vendre
            </button>
            <button type="button" (click)="venteOuLocation = 'Location'"
                [ngClass]=" venteOuLocation == 'Location' ? 'text-blue-400 border-blue-300' : 'border-gray-300 text-gray-200 bg-white'"
                class="flex justify-center w-28	  items-center px-4 py-2 border  shadow-sm text-base font-medium rounded-xl  active:-translate-y-2 transition-all duration-100">
                Louer
            </button>
        </div>
    </div>
    <div class="mt-5 px-3">
        <h1 class="popping text-base font-semibold mb-3">Nom de la régie</h1>
        <div class="relative">
            <button type="button" (click)="selectRegieDropDown = !selectRegieDropDown"
                class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
                <span class=" text-lg">{{selectedRegieValue}}</span>
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                </svg>
            </button>
            <ul [@selectInput]="selectRegieDropDown ? false : true"
                class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-0">
                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                    id="listbox-option-0" role="option" (click)="managementDropDown('Régie 1')">
                    <p class="font-medium">
                        Régie 1
                    </p>
                </li>
                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                    id="listbox-option-0" role="option" (click)="managementDropDown('Régie 2')">
                    <p class="font-medium">
                        Régie 2
                    </p>
                </li>
                <li class="text-gray-900  select-none relative p-4 text-base cursor-pointer hover:bg-gray-400 hover:text-white"
                    id="listbox-option-0" role="option" (click)="managementDropDown('Régie 3')">
                    <p class="font-medium">
                        Régie 3
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-5 px-3">
        <h1 class="popping text-base font-semibold">Formulaire de votre régie</h1>
        <div class="flex flex-row mt-2">
            <span class="popping text-base text-gray-300 mr-3">Importer votre document:</span>
            <span class="cursor-pointer	" (click)="file.click()"
                [ngClass]="document=='+ Ajouter' ? 'text-blue-2' : 'text-gray-700'">
                {{document}}</span>
            <span class="font-medium mx-3 " *ngIf="document != '+ Ajouter'">{{progress$|async}} %</span>
            <input type="file" id="upload0" (change)="documentUpload($event)" style="display:none" #file>
        </div>
    </div>
    <div class="mt-5 px-3">
        <h1 class="popping text-base font-semibold">Type de bien</h1>
        <div class="flex flex-row flex-wrap ">
            <fieldset class="space-y-5 mr-3" *ngFor="let bien of biens">
                <legend class="sr-only">{{bien}}</legend>
                <div class="relative flex items-start">
                    <div class="flex items-end h-5">
                        <input id="logtVacances" aria-describedby="comments-description" name="comments" type="checkbox"
                            class=" form-checkbox text-blue-2 focus:ring-0 border-gray-300 p-2 rounded-md "
                            (change)="typeDeBienValue(bien,$event)">
                    </div>
                    <div class="ml-3 ">
                        <label for="comments" class="popping text-base font-medium	 text-gray-500">{{bien}}</label>
                    </div>
                </div>
            </fieldset>
        </div>
        <!--      <div class="flex flex-row flex-wrap md:flex-nowrap">
            <fieldset class="space-y-5 w-full">
                <legend class="sr-only">Terrain</legend>
                <div class="relative flex items-start">
                    <div class="flex items-end h-5">
                        <input id="logtVacances" aria-describedby="comments-description" name="comments" type="checkbox"
                            class=" form-checkbox text-blue-2 focus:ring-0 border-gray-300 p-2 rounded-md ">
                    </div>
                    <div class="ml-3 ">
                        <label for="terrain" class="popping text-base font-medium	 text-gray-500">Terrain</label>
                    </div>
                </div>


            </fieldset>
            <fieldset class="space-y-5 w-full">
                <legend class="sr-only">Immeuble</legend>
                <div class="relative flex items-start">
                    <div class="flex items-end h-5">
                        <input id="logtVacances" aria-describedby="comments-description" name="comments" type="checkbox"
                            class=" form-checkbox text-blue-2 focus:ring-0 border-gray-300 p-2 rounded-md ">
                    </div>
                    <div class="ml-3 ">
                        <label for="immeuble" class="popping text-base font-medium	 text-gray-500">Immeuble </label>
                    </div>
                </div>


            </fieldset>
            <fieldset class="space-y-5 w-full">
                <legend class="sr-only">Appartements</legend>
                <div class="relative flex items-start">
                    <div class="flex items-end h-5">
                        <input id="logtVacances" aria-describedby="comments-description" name="comments" type="checkbox"
                            class=" form-checkbox text-blue-2 focus:ring-0 border-gray-300 p-2 rounded-md ">
                    </div>
                    <div class="ml-3 ">
                        <label for="logtVacances" class="popping text-base font-medium	 text-gray-500">Logt
                            vacances</label>
                    </div>
                </div>


            </fieldset>
            <fieldset class="space-y-5 w-full">
                <legend class="sr-only">Appartements</legend>
                <div class="relative flex items-start">
                    <div class="flex items-end h-5">
                        <input id="logtVacances" aria-describedby="comments-description" name="comments" type="checkbox"
                            class=" form-checkbox text-blue-2 focus:ring-0 border-gray-300 p-2 rounded-md ">
                    </div>
                    <div class="ml-3">
                        <label for="parkings" class="popping text-base font-medium  text-gray-500">Parkings</label>
                    </div>
                </div>
            </fieldset>
        </div> -->
    </div>
    <div class="mt-5 px-3">
        <h1 class="popping text-base font-semibold mb-3">Date de disponibilité</h1>
        <input type="date" name="birth" id="birth" autocomplete="birth"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block border-gray-300 shadow-sm sm:text-sm  rounded-md">
    </div>
    <div class="py-5 px-3 bg-gray-4">
        <h1 class="popping text-xl font-semibold ">Adresse</h1>
    </div>
    <!--     <div class="px-3">
      
        <input type="text" name="email" id="email"
            class="shadow-sm  px-4 placeholder-size-2  focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            placeholder="Votre adresse" aria-describedby="email-description">
    </div> -->
    <div class="px-3 mt-5">
        <div class="flex flex-col md:flex-row justify-between mt-2">
            <div class="w-full">
                <h1 class="popping text-base font-semibold mb-3">Region </h1>
                <div class="relative">
                    <button type="button" (click)="selectRegionDropDown = !selectRegionDropDown"
                        class="flex items-center  justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
                        id="menu-button" aria-expanded="true" aria-haspopup="true">
                        <span class=" text-lg">Comptimmo</span>
                        <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 9L0.0717961 0.750001L13.9282 0.749998L7 9Z" fill="#6FB4E1" />
                        </svg>
                    </button>
                    <ul [@selectInput]="selectRegionDropDown ? false : true"
                        class="origin-top-right absolute z-10 left-0 w-full mt-2     rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none"
                        tabindex="-1" role="listbox" aria-labelledby="listbox-label"
                        aria-activedescendant="listbox-option-0">
                        <li class="text-gray-900 cursor-default select-none relative p-4 text-sm" id="listbox-option-0"
                            role="option">
                            <p class="font-normal">
                                Published
                            </p>
                        </li>
                        <li class="text-gray-900 cursor-default select-none relative p-4 text-sm" id="listbox-option-0"
                            role="option">
                            <p class="font-normal">
                                Published
                            </p>
                        </li>
                        <li class="text-gray-900 cursor-default select-none relative p-4 text-sm" id="listbox-option-0"
                            role="option">
                            <p class="font-normal">
                                Published
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ml-0 md:ml-2 w-full">
                <h1 class="popping text-base font-semibold mb-3 mt-5 md:mt-0">Code postal </h1>
                <input type="text" name="email" id="email"
                    class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md px-4 py-3 "
                    placeholder="Votre code postal" aria-describedby="email-description">
            </div>

        </div>
    </div>
    <div class="px-3 mt-5">
        <h1 class="popping text-base font-semibold mb-3">Adresse </h1>
        <input type="text" name="email" id="email"
            class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md px-4 py-3 "
            placeholder="Votre adresse" aria-describedby="email-description">
        <div class="relative flex items-start mt-5">
            <div class="flex items-center h-5">
                <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox"
                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
            </div>
            <div class="ml-3 text-sm">
                <p class="text-gray-400">Ne pas afficher le numéro de rue</p>
            </div>
        </div>
        <div class="py-5 px-3 bg-gray-4">
            <h1 class="popping text-xl font-semibold ">Surface</h1>
        </div>

    </div>
    <div class="px-3 mt-5">
        <div class="flex flex-col md:flex-row  justify-between mt-2">
            <div class="w-full">
                <h1 class="popping text-base font-semibold mb-3">Surface habitable </h1>
                <div class="relative">
                    <input type="text" name="email" id="email"
                        class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                        placeholder="0" aria-describedby="email-description">
                    <span class="absolute top-2 text-lg	 right-2 text-gray-500">m2</span>
                </div>
            </div>

            <div class="ml-0 md:ml-2 mt-3 md:mt-0 w-full">
                <h1 class="popping text-base font-semibold mb-3">Surface terrasse/balcon </h1>
                <div class="relative">
                    <input type="text" name="email" id="email"
                        class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                        placeholder="0" aria-describedby="email-description">
                    <span class="absolute top-2 text-lg	 right-2 text-gray-500">m2</span>
                </div>
            </div>
        </div>

    </div>
    <div class="  w-full md:w-1/2 px-3 mt-5">
        <h1 class="popping text-base font-semibold mb-3">Surface jardin </h1>
        <div class="relative">
            <input type="text" name="email" id="email"
                class="shadow-sm  px-4 placeholder-size-2 w-full focus:border-indigo-500 block  sm:text-sm border-gray-300 rounded-md py-3 "
                placeholder="0" aria-describedby="email-description">
            <span class="absolute top-2 text-lg	 right-2 text-gray-500">m2</span>
        </div>
    </div>
    <div class="px-3 mt-5 flex justify-end">
        <button
            class="text-white px-6 py-2 rounded-md font-700 text-xs md:text-base bg-blue-2 btnhover font-semibold flex flex-row items-center justify-between">Suivant</button>
    </div>

</div>