<div class="min-h-screen bg-white flex">
  <div class="hidden lg:block relative w-1/2  flex-1 bg-blue-light text-center ">
    <div class="mx-auto w-full sticky top-20">
      <div class="m-20">
        <img class="w-auto ml-8" src="../../../../../assets/images/logo.png">
      </div>
      <div class="m-12">
        <img class="mx-auto" height="400" width="450" src="../../../../../assets/images/membreRegister.png">
      </div>
    </div>

  </div>
  <div class="flex-1 flex h-full flex-col justify-center w-1/2  py-6 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="text-right mb-5">
      <a class="inline-flex items-center py-2  text-xl text-blue-2 cursor-pointer hover:bg-blue-2" routerLink="/login">
        Se connecter
      </a>

    </div>
    <div class="mt-6 md:mt-0 md:col-span-2 bg-white ">
      <div class="text-gray-700 text-2xl  font-medium text-gray-700 mb-6">A propos de vous</div>
      <form [formGroup]="registerForm">
        <div class="grid grid-cols-6 gap-6">
  
          <div class="col-span-6 sm:col-span-3">
            <label for="genre" class="block text-sm font-bold popping">Genre</label>
            <select id="genre" name="genre" autocomplete="genre" formControlName="genre"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>Monsieur</option>
              <option>Madame</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="birth" class="block text-sm font-bold popping">Date de naissance</label>
            <input
              [ngClass]="(birth?.dirty || birth?.touched) && birth?.invalid && birth?.errors?.required ? 'border-red-500' : 'border-blue-100'"
              type="date" name="birth" id="birth" autocomplete="birth" formControlName="birth"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm  rounded-md">
            <span class="text-red-600"
              *ngIf="(birth?.dirty || birth?.touched) && birth?.invalid && birth?.errors?.required">
              Date de Naissance Obligatoire.
            </span>
          </div>
    
          <div class="col-span-6 sm:col-span-3">
            <label for="firstName" class="block text-sm font-bold popping">Nom</label>
            <input type="text" name="firstName"
              [ngClass]=" (firstName?.invalid && firstName?.touched) ? 'border-red-500' : 'border-blue-100'"
              placeholder="Votre nom" id="firstName" autocomplete="firstName" formControlName="firstName"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md">
            <span class="text-red-600"
              *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.invalid && firstName?.errors?.required">
              Nom Obligatoire.
            </span>
          </div>
    
          <div class="col-span-6 sm:col-span-3">
            <label for="lastName" class="block text-sm font-bold popping">Prénom</label>
            <input
              [ngClass]=" (lastName?.dirty || lastName?.touched) && lastName?.invalid && lastName?.errors?.required ? 'border-red-500' : 'border-blue-100'"
              type="text" name="lastName" placeholder="Votre prénom" id="lastName" autocomplete="lastName"
              formControlName="lastName"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm  rounded-md">
            <span class="text-red-600"
              *ngIf="(lastName?.dirty || lastName?.touched) && lastName?.invalid && lastName?.errors?.required">
              Prénom Obligatoire.
            </span>
          </div>
    
        
          <div class="col-span-6 sm:col-span-6">
            <label for="last-name" class="block text-sm  mb-3 font-bold popping">Photo de profil</label>
            <div class="grid grid-rows-6 grid-flow-col gap-2">
              <div class="row-span-6 sm:row-span-6 ">
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="flex items-center">
    
                    <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100 ">
                      <label>
                        <img [src]="imageUrl" alt="..." class="img-thumbnail circle border-pulsate"
                          [ngClass]="{'circle-success': (progress$|async) == 100}"
                          [ngClass]="{'border-pulsate': (progress$|async) != 100 && (progress$|async) != 0}">
                        <input type="file" id="upload" style="display:none" (change)="onFileSelected($event)" #file>
                      </label>
                    </span>
                    <button type="button" (click)="file.click()"
                      class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      Choisir
                    </button>
                    <button type="button"
                      class=" popping ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      Supprimer
                    </button>
                  </div>
                </div>
              </div>
              <div class="row-span-6 sm:row-span-6">
              </div>
            </div>
    
          </div>
     
          <div class="col-span-6 sm:col-span-3">
            <label for="phoneNumber" class="block text-sm font-bold popping">Téléphone</label>
            <input
              [ngClass]=" (phoneNumber?.dirty || phoneNumber?.touched) && phoneNumber?.invalid && phoneNumber?.errors?.required ? 'border-red-500' : 'border-blue-100'"
              type="text" name="phoneNumber" placeholder="Votre numéro de téléphone" id="phoneNumber"
              autocomplete="phoneNumber" formControlName="phoneNumber"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md">
            <span class="text-red-600"
              *ngIf="(phoneNumber?.dirty || phoneNumber?.touched) && phoneNumber?.invalid && phoneNumber?.errors?.required">
              Téléphone Obligatoire.
            </span>
          </div>
    
          <div class="col-span-6 sm:col-span-3">
            <label for="email" class="block text-sm font-bold popping">Email</label>
            <input
              [ngClass]=" (email?.dirty || email?.touched) && email?.invalid && email?.errors?.required ? 'border-red-500' : 'border-blue-100'"
              type="email" placeholder="Votre adresse email" name="email" id="email" autocomplete="email"
              formControlName="email"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md">
            <span class="text-red-600"
              *ngIf="(email?.dirty || email?.touched) && email?.invalid && email?.errors?.required">
              Email Obligatoire.
            </span>
          </div>
          <div class="col-span-6 sm:col-span-6">
            <label for="password" class="block text-sm font-bold popping">Mot de passe</label>
            <input
              [ngClass]=" (password?.dirty || password?.touched) && password?.invalid && password?.errors?.required ? 'border-red-500' : 'border-blue-100'"
              type="password" placeholder="Votre mot de passe" name="password" id="password" autocomplete="password"
              formControlName="password"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md">
            <span class="text-red-600"
              *ngIf="(password?.dirty || password?.touched) && password?.invalid && password?.errors?.required">
              Mot de passe Obligatoire.
            </span>
          </div>
        </div>
        <div>
          <div class="space-y-8 divide-y divide-gray-200">
            <div class=" py-3 text-right sm:px-6">
              <button type="button" (click)="register()" [disabled]="!registerForm.valid"
                class=" popping inline-flex  items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-blue-2 hover:bg-blue-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-blue-2">
                S'inscrire
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>

</div>