<div class="px-6 sm:px-8  pt-16 mb-5 lg:px-20 linear-gradient ">
    <div class="nav flex flex-row justify-between">
        <img src="../../../../../assets/images/logo1.png" class="max-width-80" alt="">
        <div class="flex flex-row">
            <button
                class="text-white px-6 rounded-md font-700 text-xl btn_blue_3 btnhover flex flex-row items-center font-semibold "
                routerLink="/landing">M'inscrire<span class="hidden md:block ml-2">😍</span>
            </button>

        </div>
    </div>
    <div class="grid md:grid-cols-2 mt-10 container mx-auto lg:px-10">
        <div class="flex flex-col my-auto items-start">
            <div class="flex flex-row">


                <h1
                    class="popping font-extrabold  my-5 animate__animated animate__fadeInUp text-3xl text-black leading-tight sm:text-5xl ">
                    L'immobilier <span class="light-red">comme il devrait l'être </span> </h1>
            </div>
        </div>
        <div>
            <img src="../../../../../assets/images/Tenders-assets/IMAGES ILLUSTRATIONS/1.png" width="1900px"
                class="translate-y-28 animate__animated animate__fadeInUp  " alt="">
        </div>
    </div>
</div>
<div class="px-6 sm:px-8 lg:px-24  mb-5">
    <div class="relative  mt-20 mb-20 ">
        <div class="grid md:grid-cols-2 animate__animated animate__fadeInUp">
            <img src="../../../../../assets/images/Tenders-assets/IMAGES ILLUSTRATIONS/2.png"
                class="hidden md:block mx-auto md:mx-0" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <div class="flex flex-row">
                    <h1 class=" popping font-extrabold leading-tight text-4xl mb-4 sm:text-5xl">tenders <span
                            class="text-purple">en
                            quelques <br>
                            mots...</span>
                    </h1>
                    <!-- <img src="../../../../../assets/images/bulle1.png" class="-translate-y-20 -translate-x-20"
                        alt=""> -->

                </div>

                <p class="text-lg text-gray-500">Tenders est le réseau immobilier de suisse pensé pour ses acteurs .
                    Aucun intermédiaire ! notre
                    vocation est de mettre en relation tous les acteurs du marché immobilier afin de permettre un
                    meilleur échange et à toutes les recherches d’aboutir rapidement. <br> <br> Que vous soyez remetteur
                    d’un
                    bien, propriétaire souhaitant louer un objet, ou que vous soyez à la recherche d’un logement, notre
                    réseau vous mettra en lien direct avec les acteurs qui vous correspondent et vous permettra
                    d’effectuer une recherche ciblée afin de trouver en un rien de temps le candidat ou le bien parfait
                    pour vous. <br><br>Depuis le profil créé
                    en quelques clics, nos outils proposés sur la plateforme sont véritablement un
                    assistant de gestion de votre projet. La plateforme prend en charge tout le processus de manière
                    entièrement digitalisée.</p>
            </div>
        </div>
    </div>


    <div class="relative max-w-7xl mx-auto mt-20 animate__animated animate__fadeInUp">
        <div class="flex flex-col items-center">

            <h2 class="text-4xl popping font-extrabold leading-sng mt-10 text-center sm:text-6xl">
                Une platforme pensées <br>
                <span class="text-blue-2">
                    pour vous
                </span>
                <!-- <img src="../../../../../assets/images/bulle3.png"
                    class="-translate-y-36 translate-x-28 md:-translate-y-44 md:translate-x-80 " height="100px" f
                    alt=""> -->
            </h2>
        </div>
    </div>

    <div class="mt-12 max-w-lg mx-auto grid gap-5 md:grid-cols-2 md:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">

            <div class="flex-1 bg-white p-6 flex flex-col justify-between ">
                <div class="flex-1 ">
                    <a href="#" class="block mt-2">

                        <img src="../../../../../assets/images/locataire.png" class="mb-5 " alt="">

                        <p class="text-xl font-bold text-gray-900">
                            Locataire
                        </p>
                        <p class="mt-3 text-lg text-gray-500 ">
                            Tenders, la platforme indipensable pour trouver le bien qui vous correspond rapidement.
                        </p>
                    </a>
                </div>
                <div class="mt-6 flex items-center">
                    <p class="text-lg popping font-extrabold text--blue mr-5">Commencer </p>
                    <img src="../../../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>
        </div>



        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">

            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                <div class="flex-1">

                    <a href="#" class="block mt-2">
                        <img src="../../../../../assets/images/bailleur.png" class="mb-5" alt="">

                        <p class="text-xl font-bold text-gray-900">
                            Propriétaire
                        </p>
                        <p class="mt-3 text-lg text-gray-500">
                            Tenders, la platforme indipensable pour trouver le candidat qui vous correspond rapidement
                            rapidement.
                        </p>
                    </a>
                </div>
                <div class="mt-6 flex items-center ">
                    <p class="text-lg popping font-extrabold text--blue mr-5">Commencer </p>
                    <img src="../../../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>

        </div>


    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2  gap-14">
            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-blue popping font-extrabold mb-5">Si vous êtes à la recherche d'un bien
                </h1>
                <div class="flex flex-row">
                    <h2 class="text-3xl popping font-extrabold leading-snug sm:text-4xl">Trouvez
                        <span class="light-red">ce qui vous correspond</span>
                    </h2>
                    <!-- <img src="../../../../../assets/images/bulle5.png" class="-translate-y-16 height-100" alt=""> -->
                </div>
                <p class="mt-5 text-lg text-gray-500">Vous êtes à la recherche d’un logement ? Tenders cible
                    votre recherche et vous propose les biens adaptés pour vous.

                </p>
            </div>

            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/trouver-un-bien.png"
                class="	mx-auto md:mx-0 rounded-2xl shadow-lg" alt="">

        </div>
    </div>
    <div class="relative   mt-20 animate__animated animate__fadeInUp ">
        <div class="grid md:grid-cols-2 gap-14 ">

            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/postulations.png"
                class="order-last md:order-first" alt="">
            <div class="flex flex-col pt-10 items-end ">

                <!-- <img src="../../../../../assets/images/home8.png" class="	" alt="">
            <div class="flex flex-col pt-0 xl:pt-10 items-start"> -->

                <div class=" flex flex-row">
                    <h1 class="text-3xl mt-3 popping font-extrabold leading-normal sm:text-4xl">
                        Postulez et consultez en temps réel <span class="text--blue">la progression de votre
                            dossier</span> </h1>
                    <!-- <img src="../../../../../assets/images/bulle6.png"
                        class="-translate-y-20 -translate-x-10 height-100" alt=""> -->
                </div>

                <p class="mt-5 text-lg text-gray-500">Postulez depuis la plateforme et gérez la progression
                    du processus. Plus qu’un réseau, c’est votre
                    assistant de recherche digital. </p>
            </div>
        </div>

        <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp ">
            <div class="grid md:grid-cols-2  gap-14">

                <div class="flex flex-col pt-10 items-start ">
                    <div class="flex flex-row">
                        <h2 class="text-4xl popping font-extrabold leading-snug ">Gèrez <span class="light-red">vos
                                visites</span>
                        </h2>
                        <img src="../../../../../assets/images/bulle9.png" class="hidden md:block -translate-y-16"
                            height="100px" alt="">
                    </div>

                    <p class="text-lg text-gray-500">Notre plateforme offre un accompagnement complet et totalement
                        digitalisé pour que votre
                        expérience soit la plus agréable possible. Et cela de la planification de la visite via votre
                        agenda en
                        ligne, au dépôt du dossier complet et suivi de l’avancement.</p>
                </div>
                <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/mes visites.png"
                    class="mx-auto md:mx-0 shadow-lg" alt="">

            </div>
        </div>
    </div>

    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2 grid-flow-scolgap-14">
            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-red popping font-extrabold mb-5">Vous êtes remetteur ou propriétaire
                </h1>
                <div class="flex flex-row ">
                    <h2 class=" popping font-extrabold  leading-snug text-3xl sm:text-4xl ">Publiez <span
                            class="light-yellow">vos biens<br>immobiliers</span></h2>
                </div>

                <p class="mt-5 text-lg text-gray-500 mb-10">Pour celui qui recherche un/des candidat(s), notre
                    plateforme
                    offre un accompagnement complet. Il
                    vous suffit de vous connecter et de publier votre bien.
                    <br><br>
                    Tenders vous accompagne dans la publication de votre bien en vous proposant une serie d'information
                    à remplir afin de maximiser vos chance pour trouver le/les candidat(s) qui vous correspond le plus.
                </p>
            </div>
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/32. nouveau_bien7.png"
                class="mx-auto md:mx-0 rounded-2xl shadow-lg" alt="">

        </div>
    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp ">
        <div class="grid md:grid-cols-2  gap-14">
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/15. candidatures-nouveau.png"
                class="mx-auto md:mx-0 shadow-lg" class="order-last md:order-first" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <div class="flex flex-row">
                    <h2 class=" popping font-extrabold leading-snug text-3xl sm:text-4xl ">Vous souhaitez trouver
                        <span class="text--blue">le candidat idéal ?</span>
                    </h2>
                    <img src="../../../../../assets/images/bulle8.png"
                        class="hidden md:block -translate-y-20 -translate-x-16 height-100" alt="">
                </div>

                <p class="mt-5 text-lg text-gray-500">
                    Les algorithmes développés pour notre plateforme permettent, aux remetteur de bail et aux
                    propriétaires désireux de louer leur bien, une sélection, un tri minutieux des dossiers de
                    candidatures.
                    <br> <br>
                    Nous nous assurons de la conformité des informations communiquées
                    avec les documents téléchargés et ne proposons que des dossiers en accord avec les critères
                    d’éligibilité appliqués. De ce fait, nous pouvons limiter le nombre de dossiers de candidatures (5
                    dossiers maximum).
                    <br><br>
                    Cette sélection évite aux remetteurs et propriétaires d’avoir trop de dossiers à
                    traiter et offre aux demandeurs davantage de chances d’être retenus. De plus, pour ces derniers,
                    cela
                    représente un énorme gain de temps en les accompagnant et en les orientant vers ce à quoi ils
                    peuvent réellement prétendre.
                </p>
            </div>

        </div>
    </div>

    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2  gap-14">
            <img src="../../../../../assets/images/network.png" class="mx-auto md:mx-0 shadow-lg"
                class="order-last md:order-first" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-red popping font-extrabold mb-5">Un réseau immobilier</h1>
                <div class="flex flex-row">
                    <h2 class="text-4xl popping font-extrabold leading-snug">Intéragissez avec <br> <span
                            class="text-purple">votre réseau</span></h2>
                    <!-- <img src="../../../../../assets/images/bulle10.png"
                        class="-translate-y-20 md:-translate-y-14 md:-translate-x-9" height="100px" alt=""> -->
                </div>

                <p class="mt-5 text-lg text-gray-500">Tenders supprime les intermédiaires et vous permet de créer des
                    liens directs
                    avec ceux dont vous avez besoin pour faire aboutir vos recherches rapidement. <br><br>

                </p>
            </div>

        </div>
    </div>
    <div class="grid md:grid-cols-2  mt-10 mb-20 bg-light-yellow1 rounded-2xl ">
        <img src="../../../../../assets/images/newsLetter.png" class="justify-self-center -translate-y-14	"
            height="100px">
        <div class="flex flex-col my-auto items-start px-5 md:px-0">
            <h1 class="popping font-extrabold text-2xl ">Newsletter</h1>
            <p class="text-lg text-gray-500 mt-3">Abonnez-vous à la newsletter pour recevoir une
                notification dès le lancement
            </p>
            <div class="mt-5 w-full">
                <input type="email" name="email" id="email" placeholder="Votre email"
                    class="py-3 mt-2 px-4  xl:w-1/2 inline  shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                <button class=" bg-blue  hover:bg-blue-700 text-white ml-2 font-bold py-3 px-12 rounded-xl mt-3 mb-8">
                    Démarrer</button>
            </div>

        </div>

    </div>


</div>
<app-footer></app-footer>