<div class="px-6 sm:px-8  pt-16 mb-5 lg:px-20"
    style="background: linear-gradient(180deg, rgba(191, 116, 223, 0.25) 0%, rgba(223, 125, 125, 0) 100%);background-size: 10vh;">
    <div class="nav flex flex-row justify-between">
        <img src="../../../../../assets/images/logo1.png" class="max-width-80" alt="">
        <div class="flex flex-row">
            <button class="text-white px-6 rounded-md font-700 text-xl btn_blue_3 btnhover font-semibold ">M'inscrire 😍
            </button>
        </div>
    </div>
    <div class="grid md:grid-cols-2 mt-10 container mx-auto lg:px-10">
        <div class="flex flex-col my-auto items-start">
            <div class="flex flex-row">
                <h1
                    class="popping font-extrabold  my-5 animate__animated animate__fadeInUp text-3xl text-black leading-tight sm:text-5xl ">
                    Le réseau immobilier qui <br>te fait <span class="light-red">gagner du temps </span> </h1>
            </div>
        </div>
        <div>
            <img src="../../../../../assets/images/Tenders-assets/IMAGES ILLUSTRATIONS/1.png" width="1900px"
                class="translate-y-28 animate__animated animate__fadeInUp  " alt="">
        </div>
    </div>
</div>
<div class="px-6 sm:px-8 lg:px-24  mb-5">
    <div class="relative  mt-20 mb-20 ">
        <div class="grid grid md:grid-cols-2 animate__animated animate__fadeInUp">
            <img src="../../../../../assets/images/Tenders-assets/IMAGES ILLUSTRATIONS/2.png"
                class="hidden md:block mx-auto md:mx-0" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <div class="flex flex-row">
                    <h1 class=" popping font-extrabold leading-tight text-4xl mb-4 sm:text-5xl">tenders <span
                            class="text-purple">en
                            quelques <br>
                            mots...</span>
                    </h1>
                    <!-- <img src="../../../../../assets/images/bulle1.png" class="-translate-y-20 -translate-x-20"
                        alt=""> -->

                </div>

                <p class="text-lg text-gray-500 text-lg">Tenders est le premier réseau immobilier qui te fait gagner
                    du
                    temps ! Que tu sois locataire, propriétaire ou
                    professionnel, notre objectif est de te mettre en relation avec tous les acteurs du marché. A
                    travers une plateforme
                    fluide et intuitive, tu crées ton profil en quelques clics et tes recherches n’auront jamais été
                    aussi rapides !</p>
            </div>
        </div>
    </div>


    <div class="relative max-w-7xl mx-auto mt-20 animate__animated animate__fadeInUp">
        <div class="flex flex-col items-center">

            <h2 class="text-4xl popping font-extrabold leading-sng mt-10 text-center sm:text-6xl">
                Une platforme pensées <br>
                <span class="text-blue-2">
                    pour vous
                </span>
                <!-- <img src="../../../../../assets/images/bulle3.png"
                    class="-translate-y-36 translate-x-28 md:-translate-y-44 md:translate-x-80 " height="100px" f
                    alt=""> -->
            </h2>
        </div>
    </div>

    <div class="mt-12 max-w-lg mx-auto grid gap-5 md:grid-cols-3 md:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">

            <div class="flex-1 bg-white p-6 flex flex-col justify-between ">
                <div class="flex-1 ">
                    <a href="#" class="block mt-2">

                        <img src="../../../../../assets/images/locataire.png" class="mb-5 " alt="">

                        <p class="text-xl font-bold text-gray-900">
                            Locataire
                        </p>
                        <p class="mt-3 text-lg text-gray-500 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet mollis ante ac
                            eleifend. Fusce mollis hendrerit
                            mauris et aliquet.
                        </p>
                    </a>
                </div>
                <div class="mt-6 flex items-center">
                    <p class="text-lg popping font-extrabold text--blue mr-5">Commencer </p>
                    <img src="../../../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>
        </div>



        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">

            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                <div class="flex-1">

                    <a href="#" class="block mt-2">
                        <img src="../../../../../assets/images/bailleur.png" class="mb-5" alt="">

                        <p class="text-xl font-bold text-gray-900">
                            Propriétaire
                        </p>
                        <p class="mt-3 text-lg text-gray-500">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet mollis ante ac
                            eleifend. Fusce mollis hendrerit
                            mauris et aliquet.
                        </p>
                    </a>
                </div>
                <div class="mt-6 flex items-center ">
                    <p class="text-lg popping font-extrabold text--blue mr-5">Commencer </p>
                    <img src="../../../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>

        </div>

        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">

            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                <div class="flex-1">

                    <a href="#" class="block mt-2">
                        <img src="../../../../../assets/images/pro.png" class="mb-5" alt="">

                        <p class="text-xl font-bold text-gray-900">
                            Professionnel
                        </p>
                        <p class="mt-3 text-lg text-gray-500">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet mollis ante ac
                            eleifend. Fusce mollis hendrerit
                            mauris et aliquet.
                        </p>
                    </a>
                </div>
                <div class="mt-6 flex items-center">
                    <p class="text-lg popping font-extrabold text--blue mr-5">Commencer </p>
                    <img src="../../../../../assets/images/right-arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2  gap-14">
            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-blue popping font-extrabold mb-5">Si tu es locataire</h1>
                <div class="flex flex-row">
                    <h2 class="text-3xl popping font-extrabold leading-snug sm:text-4xl">Trouver des <span
                            class="light-red">biens</span>
                        qui <br> <span class="light-red">vous correspondent</span> </h2>
                    <!-- <img src="../../../../../assets/images/bulle5.png" class="-translate-y-16 height-100" alt=""> -->
                </div>
                <p class="mt-5 text-lg text-gray-500">Proin congue metus faucibus tellus blandit ultricies. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>

            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/trouver-un-bien.png"
                class="	mx-auto md:mx-0 rounded-2xl shadow-lg" alt="">

        </div>
    </div>
    <div class="relative   mt-20 animate__animated animate__fadeInUp ">
        <div class="grid md:grid-cols-2 gap-14 ">

            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/postulations.png"
                class="order-last md:order-first" alt="">
            <div class="flex flex-col pt-10 items-end ">

                <!-- <img src="../../../../../assets/images/home8.png" class="	" alt="">
            <div class="flex flex-col pt-0 xl:pt-10 items-start"> -->

                <div class=" flex flex-row">
                    <h1 class="text-3xl mt-3 popping font-extrabold leading-normal sm:text-4xl"> <span
                            class="text--blue">Postule</span>
                        et consulte en temps réel <span class="text--blue">la progression de ton dossier</span> </h1>
                    <!-- <img src="../../../../../assets/images/bulle6.png"
                        class="-translate-y-20 -translate-x-10 height-100" alt=""> -->
                </div>

                <p class="mt-5 text-lg text-gray-500">Que ce soit pour celui qui recherche un bien ou celui qui
                    Integer vel laoreet diam, eu dignissim ligula. Ut sit amet libero purus. Praesent rhoncus justo eu
                    dolor posuere
                    maximus. Phasellus pulvinar facilisis.</p>
            </div>
        </div>
    </div>

    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2 grid-flow-colgap-14">
            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-red popping font-extrabold mb-5">Pour les remetteurs</h1>
                <div class="flex flex-row ">
                    <h2 class=" popping font-extrabold  leading-snug text-3xl sm:text-4xl ">Publie <span
                            class="light-yellow">tes biens<br>immobiliers</span></h2>
                </div>

                <p class="mt-5 text-lg text-gray-500">Proin congue metus faucibus tellus blandit ultricies. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/32. nouveau_bien7.png"
                class="mx-auto md:mx-0 rounded-2xl shadow-lg" alt="">

        </div>
    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp ">
        <div class="grid md:grid-cols-2  gap-14">
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/15. candidatures-nouveau.png"
                class="mx-auto md:mx-0 shadow-lg" class="order-last md:order-first" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <div class="flex flex-row">
                    <h2 class=" popping font-extrabold leading-snug text-3xl sm:text-4xl ">Reçois des <span
                            class="text--blue">candidatures</span> <br>
                        <span class="text--blue">préalablement
                            examinées</span> par la
                        plateforme
                    </h2>
                    <img src="../../../../../assets/images/bulle8.png"
                        class="-translate-y-20 -translate-x-16 height-100" alt="">
                </div>

                <p class="mt-5 text-lg text-gray-500">Proin congue metus faucibus tellus blandit ultricies. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>

        </div>
    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp ">
        <div class="grid md:grid-cols-2  gap-14">

            <div class="flex flex-col pt-10 items-start ">
                <div class="flex flex-row">
                    <h2 class="text-4xl popping font-extrabold leading-snug ">Gère <span class="light-red">tes
                            visites</span>
                    </h2>
                    <img src="../../../../../assets/images/bulle9.png" class="-translate-y-16" height="100px" alt="">
                </div>

                <p class="text-lg text-gray-500">Que ce soit pour celui qui recherche un bien ou celui qui
                    recherche un des candidats(s), notre plateforme offre un
                    accompagnement complet et totalement digitalisé</p>
            </div>
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/mes visites.png"
                class="mx-auto md:mx-0 shadow-lg" alt="">

        </div>
    </div>
    <div class="relative  mt-20 mb-20 animate__animated animate__fadeInUp">
        <div class="grid md:grid-cols-2  gap-14">
            <img src="../../../../../assets/images/Tenders-assets/MOCKUPS/9. accueil.png"
                class="mx-auto md:mx-0 shadow-lg" class="order-last md:order-first" alt="">

            <div class="flex flex-col pt-10 items-start ">
                <h1 class="text-xl border-bottom-red popping font-extrabold mb-5">Un réseau immobilier</h1>
                <div class="flex flex-row">
                    <h2 class="text-4xl popping font-extrabold leading-snug">Des centaines de <br> <span
                            class="text-purple">publications</span> par jour</h2>
                    <!-- <img src="../../../../../assets/images/bulle10.png"
                        class="-translate-y-20 md:-translate-y-14 md:-translate-x-9" height="100px" alt=""> -->
                </div>

                <p class="mt-5 text-lg text-gray-500">Proin congue metus faucibus tellus blandit ultricies. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>

        </div>
    </div>
    <div class="grid md:grid-cols-2  mt-10 mb-20 bg-light-yellow1 rounded-2xl ">
        <img src="../../../../../assets/images/newsLetter.png" class="justify-self-center -translate-y-14	"
            height="100px">
        <div class="flex flex-col my-auto items-start px-5 md:px-0">
            <h1 class="popping font-extrabold text-2xl ">Newsletter</h1>
            <p class="text-lg text-gray-500 mt-3">Abonnez-vous à la newsletter pour recevoir une
                notification dès le lancement
            </p>
            <div class="mt-5 w-full">
                <input type="email" name="email" id="email" placeholder="Votre email"
                    class="py-3 mt-2 px-4  xl:w-1/2 inline  shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                <button class=" bg-blue  hover:bg-blue-700 text-white ml-2 font-bold py-3 px-12 rounded-xl mt-3 mb-8">
                    Démarrer</button>
            </div>

        </div>

    </div>


</div>
<app-footer></app-footer>