<div class="container mx-auto px-6 sm:px-8 lg:px-24 pt-20 mb-5">
    <div class="flex justify-between">
        <img src="../../../../../assets/images/logo.png" class="animate__animated animate__fadeInUp" alt="">
        <button class="popping text-blue-400 font-extrabold">Accueil</button>
    </div>
    <div class="grid md:grid-cols-2">
        <div class="flex flex-col my-auto">
            <div class="relative">
            
                <h2
                    class="text-5xl popping font-extrabold  sm:text-3xl leading-9 bg-white  md:leading-20 z-50 mt-8 md:mt-0 animate__animated animate__fadeInUp  ">
                    Rejoindre <br>
                    notre communauté</h2>
                <img src="../../../../../assets/images/dots1.png"
                    class=" absolute hidden	md:block md:-left-20 md:-top-9 lg:-left-20 lg:-top-16 -z-10 " height="100px"
                    width="150px" alt="">
            </div>

            <p class="font-sans	text-xs font-light mt-2 animate__animated animate__fadeInUp ">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Risus
                vel <br>
                lobortis
                tinciduntfames quisque mauris at diam.</p>
        </div>
        <img class="hidden	md:block animate__animated animate__fadeInUp" src="../../../../../assets/images/landing.png"
            alt="">
    </div>
    <div class="">
        <!--    <input type="email" name="email" id="email" placeholder="Votre email"
            class="py-3 mt-2 px-4 w-full block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200"> -->
    </div>
    <div class=" max-w-4xl mt-5 md:-mt-16 ">
        <div class="text-left mb-5">
            <h2 class="text-2xl popping font-extrabold my-4  sm:text-3xl ">
                Renseigner vos informations
            </h2>
        </div>
        <form class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
            <div>
                <label for="first-name" class="block text-sm font-medium text-gray-700">Votre nom</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" placeholder="Votre email"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                </div>
            </div>
            <div>
                <label for="last-name" class="block text-sm font-medium text-gray-700">Votre Prénom</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" placeholder="Votre email"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                </div>
            </div>
            <div>
                <label for="first-name" class="block text-sm font-medium text-gray-700">Téléphone</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" placeholder="Votre email"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                </div>
            </div>
            <div>
                <label for="last-name" class="block text-sm font-medium text-gray-700">Email</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" placeholder="Votre email"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                </div>
            </div>
            <div class="mt-6">
                <button
                    class="text-white text-sm py-3 px-9 popping font-extrabold  bg-blue hover:bg-blue-600 rounded-xl active:-translate-y-1">
                    Envoyer</button>
            </div>

        </form>
    </div>
</div>