<div class="  px-6 sm:px-8  pt-16 mb-5 lg:px-24 linear-gradient h-screen">

    <div class="flex justify-between mb-20 container px-20">
        <a routerLink="/home"><img src="../../../../../assets/images/logo1.png"
                class="animate__animated animate__fadeInUp" alt=""></a>
        <button
            class="text-white px-6 rounded-md font-700 text-xl btn_blue_3 btnhover font-semibold flex flex-row items-center justify-between"
            routerLink="/home">Accueil
        </button>
    </div>
    <div class="grid md:grid-cols-2">
        <div class="relative">
            <img class="-translate-x-16 translate-y-4 hidden md:block" src="../../../../../assets/images/dots.png"
                alt="">
            <h2
                class="popping font-extrabold  my-5 animate__animated animate__fadeInUp text-4xl text-black leading-tight sm:text-4xl leading-20 animate__animated animate__fadeInUp  ">
                Heureux de vous savoir dans <br> <span class="text-blue-300">notre communauté</span> </h2>

        </div>
        <div class="justify-self-center">
            <img class="md:block animate__animated animate__fadeInUp " src="../../../../../assets/images/leading1.png"
                alt="">
        </div>

    </div>
</div>

<div class=" px-6 sm:px-8  pt-8  mb-5 lg:px-24">
    <!--    <input type="email" name="email" id="email" placeholder="Votre email"
            class="py-3 mt-2 px-4 w-full block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200"> -->
    <div class=" max-w-4xl mt-5 md:-mt-16 ">
        <div class="text-left mb-20">
            <h2 class="text-3xl popping font-medium my-4  sm:text-4xl ">
                Renseigner vos informations
            </h2>
        </div>
        <form class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8" [formGroup]="landingForm"
            (ngSubmit)="onSubmit()">
            <div>
                <label for="nom" class="block text-sm font-medium text-gray-700">Votre nom</label>
                <div class="mt-1">
                    <input type="text" name="nom" id="nom" placeholder="nom" formControlName="nom"
                        [ngClass]=" nom?.invalid && nom?.touched ? 'border-red-500' : 'border-blue-100'"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900   border-warm-gray-200 rounded-xl placeholder-200">
                    <div *ngIf="nom?.touched && nom?.invalid" class="text-left mt-1">
                        <div class="text-red-600" *ngIf="nom?.errors?.required">Le nom est obligatoire.</div>
                    </div>
                </div>
            </div>
            <div>
                <label for="prenom" class="block text-sm font-medium text-gray-700">Votre prénom</label>
                <div class="mt-1">
                    <input type="text" name="prenom" id="prenom" placeholder="prénom" formControlName="prenom"
                        [ngClass]=" prenom?.invalid && prenom?.touched ? 'border-red-500' : 'border-blue-100'"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300	 focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                    <div *ngIf="prenom?.touched && prenom?.invalid" class="text-left mt-1">
                        <div class="text-red-600" *ngIf="prenom?.errors?.required">Le prénom est obligatoire.</div>
                    </div>
                </div>
            </div>
            <div>
                <label for="telephone" class="block text-sm font-medium text-gray-700">Votre téléphone</label>
                <div class="mt-1">
                    <input type="text" name="telephone" id="telephone" placeholder="téléphone +41"
                        formControlName="telephone"
                        [ngClass]=" telephone?.invalid && telephone?.touched ? 'border-red-500' : 'border-blue-100'"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300  focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                    <div *ngIf="telephone?.touched && telephone?.invalid" class="text-left mt-1">
                        <div class="text-red-600" *ngIf="telephone?.errors?.required">Le télépgone est obligatoire.
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="last-name" class="block text-sm font-medium text-gray-700">Votre email</label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" placeholder="email" formControlName="email"
                        [ngClass]=" email?.invalid && email?.touched ? 'border-red-500' : 'border-blue-100'"
                        class="py-3 mt-2 px-4 w-full  block shadow-sm text-warm-gray-900 focus:ring-blue-300  focus:border-blue-100 border-warm-gray-200 rounded-xl placeholder-200">
                    <div *ngIf="email?.touched && email?.invalid" class="text-left mt-1">
                        <span class="text-red-600" *ngIf="email?.errors?.required">L'email est obligatoire.
                        </span>
                        <span class="text-red-600" *ngIf="email?.errors?.email">L'email est invalid.
                        </span>
                    </div>
                </div>
            </div>
            <div class="mt-6">
                <button [disabled]="landingForm.invalid"
                    class="text-white text-sm py-3 px-9 popping font-extrabold  bg-blue hover:bg-blue-600 rounded-xl active:-translate-y-1 flex flex-row justify-between items-center	 ">
                    <div class=" flex justify-center items-center mr-5" *ngIf="loading$ | async">
                        <div class="animate-spin rounded-full h-5 w-5 border-b-2 border-gray-900"></div>
                    </div>
                    Envoyer
                </button>

                <swal #addSuccess title="Succès" text="Vos informations sont enregistrées avec succès" icon="success"
                    [focusCancel]="true" (confirm)="resetForm()">
                </swal>
                <swal #addFailure title="Erreur" [text]=errorMessage icon="error" [focusCancel]="true"
                    (confirm)="resetForm()">
                </swal>
            </div>

        </form>
    </div>

</div>
<app-footer></app-footer>