<div class="min-h-screen bg-white flex">
  <div class="hidden lg:block relative w-1/2  flex-1 bg-blue-light text-center ">
    <div class="mx-auto w-full sticky top-20">
      <div class="m-20">
        <img class="w-auto ml-8" src="../../../../../assets/images/logo.png">
        <h2 class="mt-6 text-2xl  text-gray ">
          Le premier réseau immobilier qui te fait gagner du temps
        </h2>
      </div>
      <div class="m-12">
        <img class="mx-auto" height="400" width="450"
          src="../../../../../assets/images/Tenders-assets/IMAGES ILLUSTRATIONS/7.png">
      </div>
    </div>

  </div>
  <div class="flex-1 flex h-full flex-col justify-center w-1/2  py-6 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">

    <div class="text-right mb-2">
      <a class="inline-flex items-center py-2  text-xl text-blue-2 cursor-pointer hover:bg-blue-2" routerLink="/login">
        Se connecter
      </a>

    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav aria-label="Progress" class="flex  justify-center">
      <ol role="list" class="flex items-center ">
        <li class="relative pr-5 md:pr-14">
          <div class=" absolute h-0.5 w-full 		 bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
            aria-hidden="true">
          </div>
          <a href="#" class="relative flex items-center group">
            <span class="h-9 flex items-center">
              <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
                <!-- Heroicon name: solid/check -->
                <svg *ngIf="user.firstName" class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
                <span *ngIf="!user.firstName" class="h-9 flex items-center">
                  <span routerLink="/register/bailleur/about" [routerLinkActive]="['bg-blue-2','border-none']"
                    class="relative z-10 w-8 h-8 flex items-center bg-white  justify-center border-2 border-gray-400  rounded-full ">
                    <!-- Heroicon name: solid/check -->
                    <span routerLink="/register/bailleur/about" [routerLinkActive]="['text-white']"
                      class="text-gray-400 text-base popping font-bold">1</span>
                  </span>
                </span>
              </span>
            </span>

          </a>
        </li>
        <li class="relative pr-5 md:pr-14">
          <!-- Current Step -->
          <!-- Completed Step -->
          <div class=" absolute h-0.5 w-full bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
            aria-hidden="true">
          </div>
          <a href="#" class="relative flex items-center group" aria-current="step">
            <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
              <!-- Heroicon name: solid/check -->
              <svg *ngIf="user.address && user.address.nationality" class="w-5 h-5 text-white"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span *ngIf="user.address && !user.address.nationality" class="h-9 flex items-center">
                <span routerLink="/register/bailleur/address" [routerLinkActive]="['bg-blue-2','border-none']"
                  class="relative z-10 w-8 h-8 flex items-center bg-white  justify-center border-2 border-gray-400  rounded-full ">
                  <!-- Heroicon name: solid/check -->
                  <span routerLink="/register/bailleur/address" [routerLinkActive]="['text-white']"
                    class="text-gray-400 text-base popping font-bold">2</span>
                </span>
              </span>
            </span>

          </a>
        </li>
        <li class="relative pr-5 md:pr-14">
          <!-- Completed Step -->
          <div class=" absolute h-0.5 w-full bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
            aria-hidden="true">
          </div>
          <a class="relative flex items-center group" aria-current="step">
            <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
              <!-- Heroicon name: solid/check -->
              <svg *ngIf="user.other && user.other.civilLiabilityInsurance" class="w-5 h-5 text-white"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span *ngIf="user.other && !user.other.civilLiabilityInsurance" class="h-9 flex items-center">
                <span routerLink="/register/bailleur/other" [routerLinkActive]="['bg-blue-2','border-none']"
                  class="relative z-10 w-8 h-8 flex items-center bg-white  justify-center border-2 border-gray-400  rounded-full ">
                  <!-- Heroicon name: solid/check -->
                  <span routerLink="/register/bailleur/other" [routerLinkActive]="['text-white']"
                    class="text-gray-400 text-base popping font-bold">3</span>
                </span>
              </span>
            </span>
          </a>
        </li>



        <li class="relative pr-5 md:pr-14">
          <!-- Completed Step -->
          <div class=" absolute h-0.5 w-full bottom-1/2  border-dashed	  border-b-2 border-gray-400	"
            aria-hidden="true">
          </div>
          <a href="#" class="relative flex items-center group" aria-current="step">
            <a class="relative flex items-center group" aria-current="step">
              <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
                <!-- Heroicon name: solid/check -->
                <svg *ngIf="user.property && user.property.currentDonor" class="w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
                <span *ngIf="user.property && !user.property.currentDonor" class="h-9 flex items-center">
                  <span routerLink="/register/bailleur/property" [routerLinkActive]="['bg-blue-2','border-none']"
                    class="relative z-10 w-8 h-8 flex items-center bg-white  justify-center border-2 border-gray-400  rounded-full ">
                    <!-- Heroicon name: solid/check -->
                    <span routerLink="/register/bailleur/property" [routerLinkActive]="['text-white']"
                      class="text-gray-400 text-base popping font-bold">4</span>
                  </span>
                </span>
              </span>
            </a>
          </a>
        </li>

        <li class="relative pr-5 md:pr-14">
          <!-- Completed Step -->

          <a href="#" class="relative flex items-center group" aria-current="step">
            <span class="relative z-10 w-8 h-8 bg-green-3 flex items-center justify-center  rounded-full ">
              <!-- Heroicon name: solid/check -->
              <svg *ngIf="user.profession && user.profession.profession" class="w-5 h-5 text-white"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
              <span *ngIf="user.profession && !user.profession.profession" class="h-9 flex items-center">
                <span routerLink="/register/bailleur/activity" [routerLinkActive]="['bg-blue-2','border-none']"
                  class="relative z-10 w-8 h-8 flex items-center bg-white  justify-center border-2 border-gray-400  rounded-full ">
                  <!-- Heroicon name: solid/check -->
                  <span routerLink="/register/bailleur/activity" [routerLinkActive]="['text-white']"
                    class="text-gray-400 text-base popping font-bold">5</span>
                </span>
              </span>
            </span>

          </a>
        </li>


      </ol>
    </nav>
    <div class="mt-16  md:col-span-2 bg-white ">
      <router-outlet></router-outlet>
    </div>


  </div>

</div>