<div class=" bg-white shadow-xl pt-3 pb-10 px-3 md:px-6 pr-3 rounded-2xl ">
    <div class="bg-gray-4 mt-5  rounded-2xl pb-10">
        <div class="space-y-4">
            <div class="aspect-w-3   aspect-h-1 relative">
                <img class="object-cover shadow-lg rounded-lg" src="../../../../assets/images/bien1.png" alt="">
                <div class="flex flex-row justify-between items-end px-5 pb-5">
                    <span
                        class="inline-flex items-center  px-3 py-1 rounded-full text-xs font-medium bg-red-400 text-white popping">
                        Appartement
                    </span>

                </div>
            </div>

            <div class="px-3">
                <div class=" leading-6 popping font-semibold space-y-2">
                    <h3 class="text-base md:text-3xl truncate leading-6 md:leading-9">Magnifique appartement T2 situé à
                        <br> Lausane
                    </h3>
                    <div class="flex flex-row items-center">
                        <img src="../../../../assets/images/location-good.png" class="h-4 mr-2" alt="">
                        <span class="text-blue-2 popping font-normal text-sm md:text-xl  truncate ">Rue de l'Ale 5
                            1003 Lausanne, VD</span>
                    </div>
                    <ul class="flex flex-row items-center flex-wrap list-disc	 ">
                        <li class="ml-6">
                            <span class="truncate ">Appartement</span>
                        </li>
                        <li class="ml-6">
                            <span class="truncate ">à louer</span>
                        </li>
                        <li class="ml-6">
                            <span class="truncate ">Disponible le 19/05/2021</span>
                        </li>
                    </ul>
                    <div class=" mt-5">
                        <div class="popping font-normal px-5">
                            Situé dans une rue piétonne et commerçante au coeur de la ville, ce logement comprend :

                            <ul class="list-disc ">
                                <li>Cuisine ouverte (sans lave-vaisselle)</li>
                                <li>Pièce à vivre</li>
                                <li>Salle de bain</li>
                            </ul>


                            Idéalement situé ce logement saura vous séduire par sa proxoimité avec les commerces,
                            restaurants.
                            Une visite s'impose !

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="px-3 mt-5 flex flex-col md:flex-row justify-between">
        <button
            class="text-blue-2 px-6 py-2 rounded-md shadow font-700  text-base bg-white   btnhover font-semibold flex flex-row items-center justify-center">
            <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.825 6.46933L7.071 9.62524L5.657 11L4.72849e-07 5.5L5.657 -1.36883e-07L7.071 1.37476L3.832 4.52484L15 4.52484L15 6.46933L3.825 6.46933Z"
                    fill="#6FB4E1" />
            </svg>
            <span class="ml-2">Précédent</span>
        </button> 
        <button (click) ="addGood()"
            class="text-white px-6 py-2 rounded-md mt-5 md:mt-0 font-700 text-base bg-blue-2 btnhover font-semibold flex flex-row items-center justify-center">Suivant</button>
    </div>